doctype html
html
    head
        title= page_title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/stylesheets/schedule.css")
        link(rel="stylesheet", href="/stylesheets/general.css")
        link(rel="stylesheet", href="/stylesheets/header.css")
        link(rel="stylesheet", href="/stylesheets/media.css")
        link(rel="stylesheet", href="/stylesheets/event.css")
        link(rel="stylesheet", href="/stylesheets/form.css")
        script(src="/javascripts/header.js")
        script(src="/javascripts/schedule.js")
        script(src="/javascripts/day.js")
        script(src="/javascripts/helpers/constants.js")
        script(src="/javascripts/helpers/validation.js")
        script(src="/javascripts/helpers/dbCommunication.js")
        script(src="/javascripts/helpers/timeCalculation.js")
        script(src="/javascripts/helpers/dateCalculation.js")
        script(src="/javascripts/events/eventClass.js")
        script(src="/javascripts/events/eventForm.js")
        script(src="/javascripts/events/onclicks.js") 
        script(src="/javascripts/week/week.js") 
        script(src="/javascripts/general/general.js")
        script.
            window.onload = function(){
                drawOriginalHeader();
                formSchedule();
            }
    body
        .header
            p.logo.headertext= page_title
            .headerlinkbox
                a(href="/", onclick="logoutOnClick()", class="headertext") Log out
        #secondHeaderDiv.secondHeaderDiv
            //- h4.scheduleName= schedule_name
        #schedule.schedule
        