.logo {
    float: left;
}

.headertext {
    color: white;
    /* text-decoration: none; */
    margin-left: 15px;
}

.headerlinkbox {
    float: right;
}

.header {
    background-color: rgb(134, 134, 134);
    margin: 0px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3px;
    padding-top: 3px;
    overflow:hidden; /* to wrap floating links */
}

.errorBanner {
    background-color: lightcoral;
    border-width: thin;
    border: solid;
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    position: fixed;
    bottom: 20px;
    width: 60%;
    height: 5%;
}

.errorBanner p {
    margin-right: auto;
    margin-left: auto;
}

p {
    margin: 0px;
    font-size: medium;
}

body {
    margin: 0px;
}