.logo {
    float: left;
}

.headertext {
    font-size: 1em;
    margin: 2px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.headerlinkbox {
    float: right;
    margin-bottom: 2px;
}

.header {
    background-color: rgb(46, 26, 163);
    margin: 0px;
    overflow:hidden; /* to wrap floating links */
}

.schedule {
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(8, auto);
    /* grid-template-rows are drawn in JavaScript */
    grid-template-rows: repeat(24*12+2, 1fr);
    margin: 3%;
    margin-top: 2%;
}

.eventDiv {

}
/* The eventDiv during input editing */
.editedEventDiv{

}

.eventText {

}

/* The "[edit]" */
.eventButton {
    
}

/* inputs for editing the event */
.eventInput {

}

p {
    margin: 0em;
}

body {
    background-color: darkgray;
    margin: 0em;
}