.logo {
    float: left;
}

.headertext {
    font-size: 1em;
    margin: 2px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.headerlinkbox {
    float: right;
    margin-bottom: 2px;
}

.header {
    background-color: rgb(46, 26, 163);
    margin: 0px;
    overflow:hidden; /* to wrap floating links */
}

.secondHeaderDiv {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: auto;
}

.addEventBtn {
    border-radius: 5px;
    width: fit-content;
    height: 25px;
    margin: 10px;
}

.scheduleName {
    margin-top: auto;
    margin-bottom: auto;

}

.schedule {
    background-color: seashell;
    display: grid;
    grid-template-columns: repeat(7, auto);
    /* grid-template-rows are drawn in JavaScript */
    margin-left: 3%;
    margin-right: 3%;
    height: 90%;
}

.eventDiv {
    border: solid;
    border-width: 2px;
    border-radius: 2px;
    margin: 2px;
    background-color: gainsboro;
    overflow: hidden auto;
}
/* The eventDiv during input editing */
.editedEventDiv{
    border: solid;
    border-width: 2px;
    border-radius: 2px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: gainsboro;
}

.eventText {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 3px;
}

/* The "[edit]" */
.eventButton {
    float: right;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 3px;
    border: none;
    background-color: rgba(200, 200, 200, 0.4);
    
}

/* inputs for editing the event */
.eventInput {

}

p {
    margin: 0px;
}

body {
    margin: 0px;
}